{% block content %} {% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <link rel="stylesheet" href="{% static 'styles.css' %}" />
    <title>Authors</title>
  </head>
  <body>
    <a href="/"><button class="button">Back to Homepage</button></a>{% if user.is_authenticated %}<a href="{% url 'add_author' %}"><button class="button">Add author</button></a>{% endif %}
    <h1 class="base">Welcome on my authors webside page!</h1>
    
    {% if Allauthors|length == 0 %}
    <p>The is no data about authors !</p>
    {% else %} {% for a in Allauthors %}
    <p>{{a.id}}. <a href = "/authors/{{a.author_name}}">{{a.author_name}}</a></p>
    {% endfor %} {% endif %}</p>
  </body>

  {% endblock %}
</html>
